<!DOCTYPE html>
<html lang="en">
<head>
    <title>Package - {{ package.filename }}</title>
</head>
<body>
<header>
    <h1>Package: "{{ package.filename }}"</h1>
</header>
<main>
    <table>
        <tbody>
        <tr>
            <td>Name</td>
            <td>{{ package.name }}</td>
        </tr>
        <tr>
            <td>Version</td>
            <td>{{ package.version }}</td>
        </tr>
        <tr>
            <td>Arch</td>
            <td>{{ package.arch }}</td>
        </tr>
        <tr>
            <td>Internal Id</td>
            <td>{{ package.id }}</td>
        </tr>
        <tr>
            <td>Upload date</td>
            <td>{{ package.uploadDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <pre>{{ package.fullinfo }}</pre>
    {% if loggedIn %}
        {% include 'PackageDetail/suiteListLoggedIn.twig' %}
    {% else %}
        {% include 'PackageDetail/suiteList.twig' %}
    {% endif %}
</main>
<footer>
    <hr/>
    <a href="/ui/packages">Back to package list</a>
</footer>
</body>
</html>
