<hr/>
<h3>Add suite</h3>
{% if availableSuites %}
    <form method="post" action="/ui/packages/{{ package.filename }}/addSuite" enctype="multipart/form-data">
        <label>
            Select suite
            <select name="suite">
                {% for suite in availableSuites %}
                    <option value="{{ suite.codename }}-{{ suite.suite }}">{{ suite.codename }}
                        - {{ suite.suite }}</option>
                {% endfor %}
            </select>
        </label>
        <input type="submit" value="Add"/>
    </form>
{% else %}
    <i>No suites available</i>
{% endif %}

<h3>All suite</h3>
{% if not currentSuites %}
    <i>Packages in no suites</i>
{% else %}
    <table>
        {% for suite in currentSuites %}
            <tr>
                <td>{{ suite.codename }} - {{ suite.suite }}</td>
                <td>
                    <form method="post" action="/ui/packages/{{ package.filename }}/removeSuite" enctype="multipart/form-data">
                        <input type="hidden" name="codename" value="{{ suite.codename }}" />
                        <input type="hidden" name="suite" value="{{ suite.suite }}" />
                        <input type="submit" value="Remove" />
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
