<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ repoName }} - Info</title>
</head>
<body>
<div>
    <h1>{{ repoName }}</h1>
    <span>{{ repoDescription }}</span>
</div>
<br />
<div>
    <a href="/ui/packages/">List of all Packages</a>
    <br />
    <a href="/ui/suites">List of all suites</a>
    <br />
    <a href="/ui/upload">Upload package</a>
</div>
<br />
<div>
    <span>You can add this repository using:</span>
    <pre>  # mkdir -m 0755 -p /etc/apt/keyrings </pre>
    <pre>  # curl -fsSL http://{{ host }}/ui/pgp | gpg --dearmor -o /etc/apt/keyrings/{{ repoNameEscaped }}.gpg </pre>
    <pre>  # echo \
    "deb [arch="$(dpkg --print-architecture)" signed-by=/etc/apt/keyrings/{{ repoNameEscaped }}.gpg] \
    https://{{ host }} CODENAME SUITE" |
    tee /etc/apt/sources.list.d/{{ repoNameEscaped }}packages-its-treason.list >/dev/null </pre>
    <pre>  # apt update</pre>
</div>
</body>
</html>
